<mat-grid-list cols="4" rowHeight="100%">
    <mat-grid-tile [colspan]="1">
        <mat-vertical-stepper linear>
            <mat-step label="Validar formato">
                <app-format-validation></app-format-validation>
            </mat-step>
            <mat-step label="Simular carga">
                Cuidado
            </mat-step>
        </mat-vertical-stepper>
    </mat-grid-tile>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-grid-tile  [colspan]="3">
        <app-movements-table [ngStyle]="{'width': '90%'}"></app-movements-table>
    </mat-grid-tile>

</mat-grid-list>